<h1>I am your Study Buddy!</h1>
<p>Let's create some flash cards online to save some paper. Study easy, study green.</p>

<style>
  h1 {
    color: blue;
    font-family: verdana;
    font-size: 300%;
  }
  p  {
    color: red;
    font-family: courier;
    font-size: 160%;
  }
  body {background-color: powderblue;}
  
</style>

<%= link_to 'My Flash Cards', controller: 'flash_cards' %>
